<div id="header">
	
	<%= link_to "/" do %>
		<%= image_tag "logo-placeholder.png", class: "logo-img" %>
	<% end %>
	
	<div class="top-menu right">
			<%= link_to 'HOME', "/" %> | <%= link_to 'ABOUT US', about_us_path %> | <%= link_to "CONTACT US", contact_us_path %> 
		<div class="user-area right">
			<% if author_signed_in? %>
	    		<%#= "Signed in as #{current_author.full_name}. Not you?" %>
	    		<%= link_to 'SIGN OUT', destroy_author_session_path, :method => :delete %> | PROFILE 
	  		<% else %>
	    		<%= link_to 'SIGN IN', new_author_session_path %> or
				<%= link_to "REGISTER", sign_up_path %>
	  		<% end %>
		</div>
		<div class="clear"></div>
		<div id="footer">
			<div class="share">
				<ul>
					<li class="twitter">
						<a target="_blank" href="#">Twitter</a>
					</li>
					<li class="facebook">
						<a target="_blank" href="#">Facebook</a>
					</li>
					<li class="google">
						<a target="_blank" href="#">Google</a>
					</li>
					<li class="pinterest">
						<a target="_blank" href="#">Pinterest</a>
					</li>
					<li class="rss">
						<a target="_blank" href="#">rss</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="clear"></div>
	<div class="main-menu">
		<%= link_to 'HOME', "/" %>
		<% Category.all.each do |menu| %>
			| <%= link_to menu.name.upcase, read_category_list_path(menu) %>
		<% end %>
	</div>
</div>