<div class="registration">
	<h1>Registration</h1>
	<ul>
	<%= semantic_form_for @author, url: { action: :create } do |f| %>
		<li>
			<%= f.input :first_name %>
			<%= f.input :last_name %>
		</li>
		<li>
			<%= f.input :email %>
		</li>
		<li>
			<%= f.input :address %>
		</li>
		<li>
			<%= f.input :city %>
			<%= f.input :state %>
			<%= f.input :zip %>
		</li>
		<li>
			<%= f.input :company %>
		</li>
		<li>
			<%= f.input :password %>
			<%= f.input :password_confirmation %><br /><br />
		</li>
		<li>	
			<%= f.submit %>
		</li>
	<% end %>
	</ul>
</div>