
<div class="category-area">
	<!-- Add category name to h1 for SEO -->
	<h1>Posts List for <%= @category.name %></h1>
	<!-- List out all post for this category, display message if no posts -->
	<div class="post-list left">
		<ul>
			<% unless @post_list.empty? %>
				<% @post_list.each do |p| %>
					<li>
						<!-- list out teaser about post -->
						<%= image_tag "missing.jpg"  %>
						<div class="info">
							Title: <%= link_to p.title, read_post_path(p) %><br />
							Date: <%= p.created_at %><br />
							<%= truncate p.body, length: 200 %><br />
							<%= link_to "read more", read_post_path(p) %><br />
						</div>	
						<hr class="clear" />
					</li>
				<% end %>
			<% else %>	
				Be the first to Post
			<% end %>
		</ul>
		<!-- Allow users to make new posts if logged on -->
		<div class="posting left">
			<!-- link to login if not signed in -->
			<% unless current_author.nil? %>
				<h2>Posts</h2>
				<%= form_for @posts, url: user_post_create_path do |f| %>
					<%= f.hidden_field :category_id, value: params[:category_id] %><br/ >
					<%= f.hidden_field :author_id, value: current_author.id %><br/ >
					<%= f.label :title %><br/ >
					<%= f.text_field :title %><br/ >
					<%= f.label :body %><br/ >
					<%= f.text_area :body %><br/ >
					<%= f.submit "New Post" %>
				<% end %>
			<% else %>
			<%= link_to 'Sign In', new_author_session_path %> to post your blog on this subject.
			<% end%>
		</div>	
	</div>
	<!-- Ads or hot typic's that links to different sites both controlled by CMS -->
	<div class="ad-area left">
		This is an Ad
	</div>

</div>	